@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap");

/* Reset default styles */
body,
ul,
li,
button {
    margin: 0;
    padding: 0;
}

// body {
//     font-family: "IBM Plex Mono", monospace;
//     padding: 10px;
// }

// .gallery {
//     display: grid;
//     grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
//     grid-gap: 10px;
//     padding: 10px;
// }

.gallery {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    grid-gap: 10px;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
}

.gallery__item {
    overflow: hidden;
    border: 10px solid white;
    border-bottom: 40px solid white;
    transition: opacity 300ms, transform ease-in-out 300ms;
    animation: grow 2s ease-in-out 0s; 
    background-color: #82a6a9b0;
}

.gallery__item:hover {
    background-color: #e49cbf;
}

.gallery__image {
    width: 100%;
    height: 40vh;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    cursor: pointer;
}

.gallery__item:hover {
    opacity: 1;
    transform: scale(1.1);
}

.gallery__item:hover .gallery__image {
    transform: scale(1.3);
}

/* Lightbox styles */
.lightbox {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lightbox__image {
    max-width: 90%;
    max-height: 90%;
}

/* Close lightbox */

.lightbox__close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

.lightbox__close-button:hover {
    opacity: 0.5;
}

.lightbox__bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: -1;
    cursor: pointer;
}


img {
    --s: 15px;
    /* size of the frame */
    --b: 2px;
    /* border thickness */
    --w: 270px;
    /* width of the image */
    --c: #7B3B3B;

    width: var(--w);
    aspect-ratio: 1;
    object-fit: cover;
    padding: calc(2*var(--s));
    --_g: var(--c) var(--b), #0000 0 calc(100% - var(--b)), var(--c) 0;
    background:
        linear-gradient(var(--_g)) 50%/100% var(--_i, 100%) no-repeat,
        linear-gradient(90deg, var(--_g)) 50%/var(--_i, 100%) 100% no-repeat;
    // outline: calc(var(--w)/2) solid #0009;
    outline: calc(var(--w) / 2) solid rgb(0 0 0 / 26%);
    outline-offset: calc(var(--w)/-2 - 2*var(--s));
    // transition: .4s;
    transition: opacity 300ms, transform ease-in-out 300ms, 0.4s;
    // transition: opacity 300ms, transform ease-in-out 300ms;
    cursor: pointer;
    filter: grayscale(100%);
}

img:hover {
    outline: var(--b) solid var(--c);
    outline-offset: calc(var(--s)/-2);
    --_i: calc(100% - 2*var(--s));
    filter: grayscale(0%);
}

body {
    margin: 0;
    min-height: 100vh;
    display: grid;
    place-content: center;
    align-items: center;
    grid-auto-flow: column;
    gap: 20px;
    background: #e8e8e8;
}

@keyframes img {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

@keyframes swing {
    0% { transform: rotate(3deg); }
    100% { transform: rotate(-3deg); }
}

// .grow {
    
// }

@keyframes grow {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}