.type-writer {
    color: #d94848;
    font-weight: bold !important;
    font-family: "Anonymous Pro", monospace !important;
    letter-spacing: 3px !important;
    border-right: 2px solid hsl(0, 0%, 80%);
    font-size: 4vh;
    position: relative;
    top: 10vh;
    padding: 5vh 15vh 5vh 15vh;
}