:root {
  --loading-text-size: 12vw;
  --bg-lg: url("https://source.unsplash.com/E_eWwM29wfU/2400x1600");
  --bg: url("https://source.unsplash.com/E_eWwM29wfU/640x426");
  --bg-xs: url("https://source.unsplash.com/tKCd-IWc4gI/640x853");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
